cloud-data-ia-project/src/step_functions/workflow.json
{
  "Comment": "KITTI MLOps pipeline: Glue catalog/ETL, YOLO dataset validation, SageMaker training, optional endpoint update, SNS notifications.",
  "StartAt": "StartGlueCrawler",
  "States": {
    "StartGlueCrawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "${glue_crawler_name}"
      },
      "ResultPath": "$.crawler_start",
      "Next": "WaitForCrawler",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "WaitForCrawler": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetCrawlerStatus"
    },
    "GetCrawlerStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "${glue_crawler_name}"
      },
      "ResultPath": "$.crawler_status",
      "Next": "CrawlerFinishedChoice"
    },
    "CrawlerFinishedChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.crawler_status.Crawler.State",
          "StringEquals": "READY",
          "Next": "RunGlueJob"
        }
      ],
      "Default": "WaitForCrawler"
    },
    "RunGlueJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${glue_job_name}"
      },
      "ResultPath": "$.glue_job",
      "Next": "PrepareYOLODataset",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "PrepareYOLODataset": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${prepare_yolo_lambda_arn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "ResultPath": "$.prepare_yolo",
      "Next": "BuildTrainingNames",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "BuildTrainingNames": {
      "Type": "Pass",
      "Parameters": {
        "TrainingJobName.$": "States.Format('kitti-yolov8-training-${mode}-{}', States.UUID())",
        "ModelName.$": "States.Format('kitti-yolov8-model-${mode}-{}', States.UUID())",
        "EndpointConfigName.$": "States.Format('kitti-y8-epc-${mode}-{}', States.UUID())",
        "DeployEndpoint.$": "$.prepare_yolo.Payload.deploy_endpoint",
        "DatasetUri.$": "$.prepare_yolo.Payload.dataset_s3_uri"
      },
      "ResultPath": "$.runtime",
      "Next": "StartSageMakerTraining"
    },
    "StartSageMakerTraining": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "$.runtime.TrainingJobName",
        "RoleArn": "${sagemaker_role_arn}",
        "AlgorithmSpecification": {
          "TrainingImage": "${training_image}",
          "TrainingInputMode": "File"
        },
        "InputDataConfig": [
          {
            "ChannelName": "dataset",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "${dataset_uri}",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "${training_output_uri}"
        },
        "ResourceConfig": {
          "InstanceType": "${training_instance_type}",
          "InstanceCount": 1,
          "VolumeSizeInGB": 50
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds.$": "States.StringToJson('${training_max_runtime_seconds}')"
        },
        "HyperParameters": {
          "mode": "${mode}",
          "sagemaker_program": "train.py",
          "sagemaker_submit_directory": "${sagemaker_source_uri}",
          "epochs": "${epochs}",
          "imgsz": "${training_image_size}",
          "batch": "${training_batch_size}",
          "model": "${yolo_model}"
        }
      },
      "ResultPath": "$.training",
      "Next": "PublishTrainingResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "PublishTrainingResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${training_results_lambda_arn}",
        "Payload": {
          "training_job_name.$": "$.runtime.TrainingJobName",
          "model_artifact_s3_uri.$": "States.Format('{}{}/output/model.tar.gz', '${training_output_uri}', $.runtime.TrainingJobName)"
        }
      },
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "ResultPath": "$.training_results",
      "Next": "DeployEndpointChoice",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "DeployEndpointChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.runtime.DeployEndpoint",
          "BooleanEquals": true,
          "Next": "CreateSageMakerModel"
        }
      ],
      "Default": "NotifySuccess"
    },
    "CreateSageMakerModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:createModel",
      "Parameters": {
        "ModelName.$": "$.runtime.ModelName",
        "ExecutionRoleArn": "${sagemaker_role_arn}",
        "PrimaryContainer": {
          "Image": "${inference_image}",
          "ModelDataUrl.$": "States.Format('{}{}/output/model.tar.gz', '${training_output_uri}', $.runtime.TrainingJobName)",
          "Environment": {
            "SAGEMAKER_PROGRAM": "inference.py",
            "SAGEMAKER_SUBMIT_DIRECTORY": "${sagemaker_source_uri}",
            "SAGEMAKER_CONTAINER_LOG_LEVEL": "20",
            "SAGEMAKER_REGION": "${aws_region}"
          }
        }
      },
      "ResultPath": "$.model",
      "Next": "CreateEndpointConfig",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "CreateEndpointConfig": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:createEndpointConfig",
      "Parameters": {
        "EndpointConfigName.$": "$.runtime.EndpointConfigName",
        "ProductionVariants": [
          {
            "VariantName": "AllTraffic",
            "ModelName.$": "$.runtime.ModelName",
            "InitialInstanceCount": 1,
            "InstanceType": "${endpoint_instance_type}"
          }
        ]
      },
      "ResultPath": "$.endpoint_config",
      "Next": "UpdateSageMakerEndpoint",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "UpdateSageMakerEndpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:updateEndpoint",
      "Parameters": {
        "EndpointName": "${sagemaker_endpoint_name}",
        "EndpointConfigName.$": "$.runtime.EndpointConfigName"
      },
      "ResultPath": "$.endpoint_update",
      "Next": "NotifySuccess",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "KITTI pipeline completed",
        "Message.$": "States.Format('KITTI pipeline completed. Training job: {}. Endpoint deploy requested: {}. Results saved at: {} and {}.', $.runtime.TrainingJobName, $.runtime.DeployEndpoint, $.training_results.Payload.results_png_s3_uri, $.training_results.Payload.results_csv_s3_uri)"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "KITTI pipeline failed",
        "Message.$": "States.Format('KITTI pipeline failed. Error: {}. Cause: {}', $.error.Error, $.error.Cause)"
      },
      "End": true
    }
  }
}
